@font-face {
    font-family: 'letra';
    src: url('fonts/Pro-Thin-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font';
    src: url('fonts/Pro-Light-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'display';
    src: url('fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/pexels-ifreestock-585752.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 400px;
    height: 550px;
    border-radius: 30px;
    padding-top: 20px;
}
 
#foto{
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: auto;
    border: solid rgb(252, 252, 252) 5px;
}

h1{
    font-family: 'letra', times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 5px 15px rgba(77, 54, 29, 0.904);
    color: rgb(14, 13, 13);
}

p{
    font-family: 'display', times, sans-serif;
    font-weight: normal;
    text-align: justify;
    text-indent: 30px;
    padding: 0px 20px 51px 20px;
    color: rgba(29, 17, 10, 0.993);
    font-weight: 700;
}

.icons{
    display: flex;
    background-color: white;
    height: 85px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
    gap: 20px;
}

.icon img{
    width: 25px;
    transition: transform 0.3s ease;
}

.icon:hover img{
    transform: scale(1.2);
}

@media(max-width: 500px) {

    body{
     background: linear-gradient(solid #8C5230 #592F16);
     background-image: url(Images/fundo.jpeg);
    }
    .container{
        background: none;
        backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    }

    h1{
        color: white;
        font-weight: 600;
    }

    p{
        color: white;
        font-weight: normal;
    }

    .icons{
        background-color: #ffffff00;
    }

    .icon img {
        width: 30px;
    }
}